@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");

html.mobile-side-bar-actived,
html.mobile-side-bar-actived > body {
  overflow: hidden;
}

html > body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-grey);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 0.9rem;
  line-height: 1;
  overflow: hidden;
}

/* 너비가 640px 이하 */
@media (width <= 640px) {
  .pc-top-bar,
  .pc-about,
  .pc-products,
  .pc-extra-section,
  .pc-homeHeader,
  .pc-footer {
    display: none;
  }
}
/* 너비가 640px 이상 */
@media (width >= 640px) {
  .mobile-top-bar,
  .mobile-side-bar,
  .mobile-about,
  .mobile-products,
  .mobile-homeHeader,
  .mobile-footer {
    display: none;
  }
}

/* 커스텀 */
:root {
  --color-bg: #f9f8ee;
  --color-grey: #1e1e1e;
  --min-width: 320px;
  --italic-font: "EB Garamond", serif;
  // --step--2: clamp(3.13rem, 2.62rem + 2.51vw, 5.76rem);
  // --step--1: clamp(3.75rem, 3.09rem + 3.29vw, 7.2rem);
  --step-0: clamp(4.5rem, 3.64rem + 4.29vw, 9rem);
}

.pc-con {
  max-width: 1400px;
}

.mobile-con {
  max-width: 640px;
  padding: 0 5px;
}

img {
  max-width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}

html {
  overflow-x: hidden;
}
/* 탑바 구현 시작 */
.pc-top-bar {
  height: 100px;
  z-index: 100;
  background-color: var(--color-bg);
  overflow: 1;
  visibility: visible;
  transition: overflow 1s, visibility 1s;
}

.pc-top-bar.hidden {
  overflow: 0;
  visibility: hidden;
}

.header-container > .header-container__logo img {
  display: block;
  min-width: 86px;
  margin: 0 0 0 25px;
}
/* 공통 텍스트 */
.pc-top-bar .menu-box__wrap ul > li > a,
.mobile-menu-box-1 ul > li > a {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #404040;
}
.pc-top-bar .menu-box__wrap > ul > li > a {
  padding-top: 6px;
  transition: opacity 0.5s;
}

.pc-top-bar .menu-box__wrap > ul > li:last-child > a{
  padding-bottom: 10px;
}
.pc-top-bar .menu-box__wrap ul ul > li > a {
  margin: 5px;
}
.pc-top-bar .header-container__menu-box > .menu-box__wrap > ul > li {
  padding: 0 50px;
}

.header-container__widget-box .menu-box__wrap > ul > li > a {
  display: block;
  font-size: 0.9rem;
  padding: 0 25px 0 0;
  color: #404040;
  transition: opacity 0.5s;
  text-transform: none;
  font-weight: 500;
}

.menu-box__wrap > ul > li:hover > a {
  opacity: 0.5;
}
.header-container__widget-box > .menu-box__wrap ul > li > a > img,
.mobile-side-bar__body > .body__search-box > a > img {
  max-width: 40px;
}
/* 모바일 탑바 구현 시작 */
.mobile-top-bar {
  height: 75px;
  background-color: var(--color-bg);
  z-index: 100;
}
.mobile-top-bar .header-container__widget-box ul > li > a {
  padding: 0 10px 0 0;
}

.mobile-top-bar .header-container__widget-box ul > li:last-child > a > span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 30px;
  border: 1px solid;
  transition: scale 0.5s;
}
.mobile-top-bar
  .header-container__widget-box
  ul
  > li:last-child
  > a
  > span:hover {
  scale: 1.1;
}
.mobile-top-bar
  .header-container__widget-box
  ul
  > li:last-child
  > a
  > span::after,
.mobile-top-bar
  .header-container__widget-box
  ul
  > li:last-child
  > a
  > span::before {
  content: "";
  position: absolute;
  height: 0.5px;
  top: 40%;
  width: 70%;
  background-color: black;
}
.mobile-top-bar
  .header-container__widget-box
  ul
  > li:last-child
  > a
  > span::before {
  top: 60%;
}
/* 모바일 탑바 구현 끝 */
/* 메뉴 구현 시작 */
.pc-top-bar {
  position: relative;
}
.pc-top-bar .menu-box__wrap .menu-item__wrap {
  position: absolute;
  width: 100vw;
  height: 0;
  top: 100%;
  left: 0;
  right: 0;
  padding: 0 25px;
  overflow: hidden;
  background-color: white;
  transition: height 0.5s;
  z-index: 100;
}
.menu-box__wrap > ul > li:hover .menu-item__wrap {
  height: 260px;
  z-index: 100;
  opacity: 0.98;
}
.pc-top-bar .menu-box__wrap .menu-item__wrap > nav > ul > li > a {
  padding: 10px 0;
}
.pc-top-bar .menu-box__wrap .menu-item__wrap > nav > ul > li > a > span {
  display: block;
  position: relative;
  width: 100%;
}
.pc-top-bar .menu-box__wrap .menu-item__wrap > nav > ul > li > a > span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.5px;
  top: 150%;
  left: 0;
  background-color: #404040;
}

/* 2차 메뉴 아이템 텍스트 */
.pc-top-bar .menu-item__wrap .menu-item__wrap-inner > ul > li > a,
.mobile-menu-box-1 ul ul > li > a {
  font-size: 0.9rem;
  font-weight: 500;
  padding: 10px 10px 10px 0;
  opacity: 1;
}
.pc-top-bar .menu-item__wrap .menu-item__wrap-inner > ul > li:hover > a,
.mobile-menu-box-1 ul ul > li:hover > a {
  opacity: 0.5;
}
/* 탑바 구현 끝 */
/* 모바일 사이드바 구현 시작 */
.mobile-side-bar {
  transition: opacity 0.3s, visibility 0.3s;
  background-color: rgba(0, 0, 0, 0.5);
}

.mobile-side-bar.active {
  opacity: 1;
  visibility: visible;
  z-index: 105;
}
.mobile-side-bar__content {
  transform: translateX(100%);
  transition: transform 0.5s;
  min-width: var(--min-width);
}

.mobile-side-bar.active .mobile-side-bar__content {
  transform: translateX(0);
}
.mobile-side-bar__btn-close:hover {
  scale: 1.1;
  opacity: 0.5;
}
.mobile-side-bar__btn-close {
  border: 1px solid;
  border-radius: 30px;
  width: 35px;
  height: 35px;
  opacity: 1;
  transition: scale 0.5s;
}
.mobile-side-bar__btn-close > div {
  top: 50%;
  left: 25%;
  height: 0.5px;
  width: 50%;
  color: var(--color-grey);
  transform: rotate(-45deg);
}
.mobile-side-bar .mobile-side-bar__btn-close > div:last-child {
  transform: rotate(45deg);
}
.mobile-menu-box-1 > ul ul {
  display: none;
  background-color: var(--color-bg);
}

.mobile-side-bar__body {
  overflow-y: scroll;
  // 스크롤바 없애고 기능은 하도록 구현
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}
.mobile-side-bar__body::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

.mobile-side-bar {
  &__search-box {
    display: flex;
    align-items: center;
    border: 1px solid;
    max-width: 400px;
    margin: 0 20px;
    border-radius: 30px;
    color: var(--color-grey);
    padding: 0 10px;

    input {
      width: 100%;
      &:focus {
        outline: none;
      }
    }
    a {
      margin-left: auto;
      img {
        max-width: 40px;
      }
    }
  }
  &__widget-box {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;

    a {
      // display: block;
      padding-bottom: 15px;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
/* 모바일 메뉴 텍스트 */
.mobile-menu-box-1 ul > li > a {
  display: block;
  padding: 30px 20px;
}
.mobile-menu-box-1 > ul > li:first-child > a {
  margin-top: 30px;
}
.mobile-menu-box-1 ul ul > li > a {
  padding: 10px 20px;
}
/* 모바일 사이드바 구현 끝 */

// 홈 메인 구현 시작
.homeHeader {
  width: 100%;
  /*     padding: 0 30px; */
  position: relative;
  float: left;
  width: 100%;
  overflow: hidden;
  z-index: -5;
  max-height: 1100px;
  padding-bottom: 60px;

  @media screen and (max-width: 992px) {
    padding-top: 40px;
  }

  @media screen and (max-width: 768px) {
    padding-top: 60px;
    padding-bottom: 100px;
  }
  @media screen and (max-width: 575px) {
    padding-bottom: 150px;
    padding-top: 50px;
  }
}
.svg-container {
  width: 100%;
  margin: 0 auto;
  position: relative;

  &__videoHolder {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-delay: 1s;

    video {
      display: block;
      position: relative;
      width: 95%;
      height: auto;
    }
    .oval {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;

      svg {
        width: 100%;
        height: auto;
      }
    }
  }
  &__svgs {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    img {
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      mix-blend-mode: multiply;
      pointer-events: none;
      transition-delay: 1s;
    }
  }
}
.mobile-txt {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  // padding-top: 25px;
}
// 홈 메인 구현 끝
// marquee 구현 시작
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes marquee-r {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.marquee {
  font-size: calc(3.2px + 5vw);
  height: calc(170px + 3vh);
  overflow-x: hidden;
  width: 100vw;
  background-color: var(--color-bg);
  color: #e7dfcf;
  display: flex;
  align-content: center;
  // border: 1px solid;
  @media screen and (min-width: 992px) {
    font-size: calc(3.2px + 4vw);
  }
  @media screen and (max-width: 768px) {
    height: calc(130px + 3vh);
  }
  @media screen and (max-width: 575px) {
    height: calc(100px + 2vh);
    //
  }
  @media screen and (max-width: 480px) {
    height: calc(70px + 2vh);
  }
}

.track {
  height: 50;
  overflow: hidden;
  white-space: nowrap;

  & .text {
    animation: marquee 8000ms linear infinite;
    align-items: center;
    display: inline-flex;
    will-change: transform;
    text-transform: uppercase;
    font-family: var(--italic-font);

    &.-r {
      animation-name: marquee-r;
    }
  }
}

.-green {
  color: var(--color-bg);
  font-weight: 900;
}
// marquee 구현 끝
// 베스트 상품 구현 시작
.products {
  background-color: var(--color-bg);
  margin-top: 100px;

  &__wrap {
    width: 100%;
    text-align: center;

    .tit {
      font-size: 30px;
      padding: 20px 0;
      line-height: 1.5;
    }
  }
  &__tab-menu {
    min-width: 485px;
    margin: 0 auto;
    padding-top: 20px;
    justify-content: center;

    .txt {
      margin: 0 40px;
      color: #969696;
      cursor: pointer;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  &__tab-content {
    ul {
      position: absolute;
      display: flex;
      align-items: flex-start;
      visibility: hidden;
      width: 100%;
      height: 100%;
    }
    li {
      flex: 1;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
    img {
      width: 100%;
    }
    video {
      width: 100%;
      height: 100%;
      object-fit: fill;
     
    }
  }
}
.pc-products {
  &__sub-wrap {
    margin-top: 60px;
    position: relative;
    height: calc(600px + 3vh);
    @media screen and (max-width: 1200px) {
      height: calc(500px + 3vh);
    }

    @media screen and (max-width: 992px) {
      height: calc(400px + 3vh);
    }
    @media screen and (max-width: 768px) {
      height: calc(300px + 3vh);
    }
  }
}

.products__tab-menu > .txt.active {
  color: var(--color-grey);
  text-decoration: underline;
}

.products__tab-content.active > ul {
  visibility: visible;
}
// 모바일 ver 구현 시작
.mobile-products {
  &__wrap {
    width: 100%;
    text-align: center;
    min-width: 320px;
    margin-top: 100px;
    // border: 1px solid red;

    .tit {
      font-size: 20px;
      padding: 20px 0;
      line-height: 1.5;
    }
  }
  &__tab-menu {
    min-width: 320px;
  }
  &__sub-wrap {
    margin-top: 30px;
    position: relative;
    height: calc(750px + 3vh);

    @media screen and (max-width: 575px) {
      height: calc(650px + 2vh);
    }
    @media screen and (max-width: 480px) {
      height: calc(550px + 2vh);
    }
  }
  &__tab-content {
    ul {
      display: block;
      visibility: hidden;
      max-width: 100%;
    }
    li {
      margin-right: 0;
      padding: 15px;
    }
  }
}
// 베스트 상품 구현 끝
// 신제품 배너 구현 시작

.banner-box-type {
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;

  &__background {
    position: absolute;
    z-index: 1;
    top: 0%;
    min-height: 100vh;
    width: 100%;
    margin-top: 10px;
  }

  &__top {
    position: relative;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1 {
      font-size: 30px;
      line-height: 1.1;
      margin-bottom: 32px;
      max-width: 600px;
      z-index: 3;
      position: relative;

      @media (max-width: 640px) {
        font-size: 20px;
      }
    }

    p {
      mix-blend-mode: normal;
      font-weight: 300;
      max-width: 500px;
      margin: 0 auto;
      z-index: 3;
      position: relative;
      line-height: 1.48;
    }
  }

  &__bottom {
    position: relative;
    height: calc(700px + 2vh);

    .gap {
      height: 100px;
    }
    .bg-box {
      background-image: url(https://abib.com/images/detail/230830_FD/FD_PC_8.jpg);
      height: 540px;
      background-attachment: fixed;
      background-size: cover;
      position: relative;
      display: flex;
      align-items: center;
      background-repeat: no-repeat;
      background-position: center center;
      
      @media (max-width: 786px) {
        background-image: url(https://abib.com/images/detail/230830_FD/FD_MO_2.jpg);
        background-size: contain;
      }
    }
  }
}
// 신제품 배너 구현 끝
// 신제품 스크롤 구현 시작
.pc-about {
  background-color: var(--color-bg);

  &__item {
    display: inline-block;
    width: 700px;
    padding: 0px 40px;
    display: flex;
    flex-direction: column;

    &:nth-child(odd) {
      img {
        margin-bottom: 30px;
      }
    }

    &:nth-child(even) {
      flex-direction: column-reverse;
    }

    img {
      object-fit: cover;
      height: 500px;
      width: 500px;
      border-radius: 20px;
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      //flex: 1;
    }

    .content {
      // height: 50%;
      max-width: 500px;
      // flex: 1;
      // display: flex;
      align-items: center;

      h3 {
        font-size: 1rem;
        padding-bottom: 20px;
        line-height: 1.3;
        margin-top: 10px;
        color: #969696;
        text-align: center;
        &:hover {
          opacity: 0.5;
        }
      }

      p {
        font-size: 1rem;
        max-width: 350px;
        line-height: 1.48;
        margin-bottom: 30px;
        // font-weight: 300;
      }
    }
  }
}
.product_price {
  justify-content: center;

  &__text {
    text-decoration: line-through;
    font-weight: 300;
    color: #999999;
  }

  &__sale {
    font-weight: 700;
  }
}

.button__pc > .content {
  height: 50%;
  flex: 1;
  display: flex;
}

.button__pc > .content .button__pc-view {
  margin-top: 0;
  color: var(--color-grey);
}
.button__pc .button__wrap:hover > .button__pc-view {
  color: var(--color-bg);
  opacity: 1;
}

.button {
  &__wrap {
    display: inline-flex;
    border: 1px solid;
    text-decoration: none;
    border-radius: 50px;
    margin-top: auto;
    color: var(--color-grey);
    // &:hover {
    //   color: var(--color-bg);
    //   background-color: var(--color-grey);
    // }

    h3 {
      padding: 15px 35px !important;
      font-size: 1rem !important;
      transition: color 1s, background 1s;
      font-weight: 700;
    }
  }
}

.button__wrap.active {
  color: var(--color-bg);
  background-color: var(--color-grey);
}

.horizontal-scroll {
  &__section {
    position: relative;
    height: 100vh;
    width: 2300px;
    transform: translateX(80%);
  }

  &__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
  }

  &__content {
    display: flex;
    padding: 80px;
    height: 100vh;
    width: 350vh;
    will-change: transform;
  }
}

// .pc-extra-section {
//   height: 50vh;
// }

// 배너3 pc-ver 구현 끝
// 배너3 mobile-ver 구현 시작
.mobile-extra-section {
  height: 100px;
}

.mobile-about {
  text-align: center;
  width: 95%;
  position: relative;
  max-width: 800px;
  margin: auto;
  // background: #fff;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  height: 400px;
  transition: all 0.3s;

  @media screen and (max-width: 640px) {
    min-height: 500px;
    height: auto;
    margin: 180px auto;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    &.swiper-slide-active {
      .mobile-about__img {
        img {
          opacity: 1;
          transition-delay: 0.3s;
        }
      }
      .mobile-about__content {
        > * {
          opacity: 1;
          transform: none;

          @for $i from 0 to 15 {
            &:nth-child(#{$i + 1}) {
              transition-delay: $i * 0.1 + 0.3s;
            }
          }
        }
      }
    }
  }

  &__img {
    width: 100%;
    flex-shrink: 0;
    height: 350px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-image: linear-gradient(0deg, #f9f8ee 0%, #f9f8ee 74%);

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      opacity: 0.8;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      opacity: 0;
      border-radius: 20px;
      transition: all 0.3s;
      text-align: center;
    }

    @media screen and (max-width: 640px) {
      transform: translatey(-50%);
      margin: 0 auto;
      width: 90%;
    }
  }

  &__content {
    @media screen and (max-width: 640px) {
      margin-top: -110px;
      text-align: center;
      padding: 0 30px;
    }

    > * {
      opacity: 0;
      transition: all 0.4s;
    }
  }

  &__title {
    font-size: 1.1rem;
    // font-weight: 700;
    color: #0d0925;
    margin: 20px 0;
  }

  &__text {
    color: #4e4a67;
    margin-bottom: 30px;
    line-height: 1.5em;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
  }
  &__pagination {
    position: absolute;
    z-index: 21;
    right: 20px;
    width: 11px !important;
    text-align: center;
    left: auto !important;
    top: 50%;
    bottom: auto !important;
    transform: translateY(-50%);
    @media screen and (max-width: 640px) {
      transform: translateX(-50%);
      left: 50% !important;
      top: 205px;
      width: 100% !important;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &.swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 8px 0;
      @media screen and (max-width: 640px) {
        margin: 0 5px;
      }
    }

    .swiper-pagination-bullet {
      width: 11px;
      height: 11px;
      display: block;
      border-radius: 10px;
      background: #062744;
      opacity: 0.2;
      transition: all 0.3s;
      &-active {
        opacity: 1;
        background: var(--color-grey);
        // box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);

        @media screen and (max-width: 640px) {
          height: 11px;
          width: 30px;
        }
      }
    }
  }
}

// 신제품 스크롤 구현 끝
// 푸터 구현 시작
.footer {
  line-height: 1.4;

  &__tit {
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    padding: 10px 0;
    width: 100%;
  }
  &__txt {
    display: block;
    // justify-self: center;
    text-transform: none;
    font-size: 0.9rem;
    font-weight: 500;
    p {
      padding: 10px 0;
    }
    a {
      display: block;
      padding: 10px 0;
      transition: opacity 0.5s;
      &:hover {
        opacity: 0.5;
      }
    }
  }
  .innerWrapper {
    height: auto;
    padding: 50px 10px;
    color: var(--color-bg);
    background-color: var(--color-grey);

    &__top {
      display: flex;

      .text-wrapper {
        height: auto;
        display: flex;
        flex: 1;
        text-align: center;

        .footer__txt {
          padding: 10px;
        }
      }
    }

    &__bottom {
      display: flex;
      .text-wrapper {
        flex: 1;
        text-align: center;

        .footer__txt {
          padding: 10px;
        }

        .footer__icon {
          display: flex;
          justify-content: center;
          a {
            display: block;
            padding: 0 5px;

            svg {
              height: 32px;
              width: 32px;
            }
          }
        }
      }
      .grow-wrapper {
        flex: 2;
      }
    }
  }
}
.mobile-footer {
  min-width: 320px;

  .footer__tit {
    font-size: 1rem;
    font-weight: 700;
  }
  .footer__txt {
    a {
      padding: 0;
    }
    p {
      padding: 0;
    }
  }

  .innerWrapper {
    height: auto;
    padding: 20px 10px;
  }
}
// 푸터 구현 끝
